*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
body{
   padding:0px;
   margin:0px;
   z-index: -100;
   background-color:hsl(0, 0%, 81%);
   max-width: 100%;
   font-weight: 100;
}
nav{
   
    width: 100%;
    opacity: 100%;
    background-color: aliceblue;
    z-index: 1;
   

}
.active{   
    border-bottom: 1px solid black;
    border-radius: 10px;
    
    }
nav ul li{
    margin: 10px 15px;
    transition: 0.5s;
   
}
.nav-item:hover{   
border-bottom: 2px solid red;
border-radius: 10px;
}
nav ul{
    margin-left: 20px;
}
.fa-solid{
    padding-left: 5px;
}
@media(max-width:1000px){
    nav ul{
        margin-left: 50%;
    }   
}